{# Pola specyficzne dla wniosku o pracę zdalną #}
<div class="row mb-3">
    <div class="col-md-4">
        <label class="form-label" for="podpis">Podpis na wydruku</label>
        <input type="text" class="form-control form-control-sm" id="podpis" name="podpis" placeholder="Opcjonalnie" value="">
    </div>
</div>
<div class="alert alert-info" style="font-size:.82rem;">
    Wniosek o wykonywanie okazjonalnej pracy zdalnej zostanie wygenerowany na podstawie dat wybranych na grafiku.
    Dokument zawiera deklaracje BHP i RODO zgodne z obowiązującymi przepisami.
</div>
